[run]
omit = 
	# Dependencies
	**/venv/**

	# Project specific
	**/__init__.py
	tests/**

	# Classes and definitions
	lalalang/lexer/token.py
	lalalang/parser/nodes.py
	lalalang/parser/ast.py
	lalalang/evaluator/object.py

[report]
exclude_lines = 
	# Magic methods
	def __str__
	def __repr__
	def __init__
