name: Deployment

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:

  upload-to-pypy: 
    name: Uploads code to pypi if tests passed
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint with black
        run: |
          python -m black .
      
      - name: Static analyzer with mypy
        run: |
          python -m mypy lalalang --no-strict-optional 

      - name: Run tests and user coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
        run: |
          python -m coverage run -m pytest
          coveralls
      
      - name: Publish to pypi
        env:
          TWINE_USERNAME: ${{ secrets.TWINE_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
        run: |
          python setup.py sdist bdist_wheel
          python -m twine upload dist/*
