name: Pypi 

on:
  push:
    paths:
    - 'setup.cfg'
    branches: 
    - main
  pull_request:
    paths:
    - 'setup.cfg'
    branches:
    - main
  workflow_dispatch:

jobs:

  upload-to-pypy:

    name: Pypi pipeline
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint with black
        run: |
          python -m black . --check
      
      - name: Static analyzer with mypy
        run: |
          python -m mypy lalalang --no-strict-optional 

      - name: Run tests and register it in coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
        run: |
          python -m coverage run -m pytest
          python -m coveralls
      
      - name: Publish to pypi
        env:
          TWINE_USERNAME: ${{ secrets.TWINE_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
        run: |
          python setup.py sdist bdist_wheel
          python -m twine upload dist/*
